{% extends "base.html" %}

{% block title %}
Все записи
{% endblock %}


{% block body %}
<h1>Все записи</h1>
  {% for post in posts %}
<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success-emphasis"></strong>
          <h3 class="mb-0">{{post.title}}</h3>
          <div class="mb-1 text-body-secondary"></div>
          <p class="mb-auto">{{post.text}}</p>
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
            Читать далее
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
        </div>

      </div>
{% endfor %}

{% endblock %}